.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  padding: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  text-align: center;
}

button {
  background: orange;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}

button:focus {
 outline: none;
}

.wrap-buttons {
  display: flex;
  margin-top: 30px;
}

.wrap-buttons button {
  background: #2567F7;
  font-size: 12px;
  padding: 10px 20px;
  width: 150px;
}

.wrap-buttons button:disabled {
  background: #304676;
  cursor: not-allowed;
}

.wrap-buttons button:first-child {
  margin-right: 20px;
}